html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.root-container {
  height: 100%;
}
.app-container {
  background-color: #EEEEEE;
  min-height: 100%;
}